

header {
    background-color: black;
    height:400px;
    background-size: cover;
}
.logo {
    justify-content: center;}
    /*Rotacion de Logo*/
.milogo:hover {
    transform: rotate(360deg) scaleX(2.3);
}
.milogo {
    transition: all 1.5s;
}
.milogo {
    border-radius: 50px;
    border-style:hidden;
}

/*Transformaciones-Transiciones*/
/*Menu navegable*/
.inicio:hover {
    transform: scale(1.3);
}
.sobremi:hover {
    transform: scale(1.3);
}
.servicios:hover {
    transform: scale(1.3);
}
.clientes:hover {
    transform: scale(1.3);
}
/*Menu*/
header nav ul li:hover > ul{
    display: block;
    position:absolute;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
h1 {
    position: sticky;
    top: 0%;
    font-size: xx-large;
text-align: center;
background-color: rgb(170, 170, 32);
}
.contenedor-lista{
    display:none;
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;  
    justify-content:space-evenly;
    top: 170px;
    z-index: 1000;
    }
    .listado-1 {
        list-style:none;
        z-index: 1999;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 20px;
    }
    header nav ul li a { 
        color: red;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: larger;
    background: black ;
    padding: 4px 10px;
    border-radius: 15px;
    margin: 20px;
    border-style:ridge;
    }
    .submenu li {
        list-style:none;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
        font-size: larger;
        border-radius: 10px;
        margin: 5px;
        padding: 4px 1px;
        border:none;
    }